<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{18,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>bomber.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{17,23}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{17,23}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>buckets.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,162}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{144,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de00fc64fe4ca2c2e7dad6c341e5dd3:72766d671f263a8d7941df2795fc324b:64b64a05b2a5c984ff6df54a3568955c$</string>
            <key>textureFileName</key>
            <string>game-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
