<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,76},{35,36}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>bomber.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,72}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>buckets.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7620d8161638f53c77967cf7e47e72:31a490e455ac951c9f8ec08d93d38d4f:64b64a05b2a5c984ff6df54a3568955c$</string>
            <key>textureFileName</key>
            <string>game-sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
