<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,40},{18,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>bomber.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>buckets.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-sprites.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7620d8161638f53c77967cf7e47e72:31a490e455ac951c9f8ec08d93d38d4f:64b64a05b2a5c984ff6df54a3568955c$</string>
            <key>textureFileName</key>
            <string>game-sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
